* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: solid 1px;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

body {
  @NavHeight: 60px;

  nav {
    text-align: center;
    height: @NavHeight;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 50;
    outline: solid 2px #33a474;

    a {
      // line-height: 2em;
      height: 60px;
      line-height: 60px;
      margin: 0 20px;
    }
  }
  header {
    background-color: #33a474;
    color: white;
    padding: 40px 0;
    padding-top: @NavHeight + 40px;
    margin-bottom: 30px;
    h1 {
      text-align: center;
      line-height: 2em;
    }
    p {
      text-align: center;
      line-height: 2em;
    }
  }

  main {
    @green: #33a474;
    @purple: #88619a;
    @gray: #9b9faa;

    section {
      text-align: center;
      margin: 40px 0;
      p {
        font-size: 20px;
        font-weight: bolder;
        color: #576071;
      }
      .describe {
        display: inline-block;
        font-size: 20px;
        font-weight: bolder;
        height: 100px;
        line-height: 100px;
        color: @gray;
        &.agree {
          color: @green;
        }
        &.disagree {
          color: @purple;
        }
      }

      .buttons {
        width: 50%;
        // margin: 0 auto;
        height: 100px;
        line-height: 100px;
        display: inline-block;
        button {
          min-width: 50px;
          min-height: 50px;
          line-height: 100px;
          border-radius: 50%;
          margin: 0 15px;
          border: solid 3px;
          background-color: transparent;
          transition: all 0.1s;
        }
        .activate {
          box-shadow: 0 0 10px;
        }
        .button-0,
        .button-1,
        .button-2 {
          color: @green;
          &:hover {
            background-color: @green;
          }
          &.activate {
            background-color: @green;
          }
        }

        .button-4,
        .button-5,
        .button-6 {
          color: @purple;
          &:hover {
            background-color: @purple;
          }
          &.activate {
            background-color: @purple;
          }
        }
        .button-3 {
          color: @gray;
          &:hover {
            background-color: @gray;
          }
          &.activate {
            background-color: @gray;
          }
        }

        .button-0,
        .button-6 {
          transform: scale(1);
        }
        .button-1,
        .button-5 {
          transform: scale(0.85);
        }
        .button-2,
        .button-4 {
          transform: scale(0.7);
        }
        .button-3 {
          transform: scale(0.55);
        }
      }
    }
  }

  button.submit {
    display: block;
    margin: 20px auto;
    padding: 20px;
    font-size: 30px;
    border-radius: 100px;
  }
  article.result {
    color: #576071;
    h2,
    h3,
    h4 {
      text-align: center;
      line-height: 2em;
    }
    .final,
    .potential {
      width: 100%;
      img {
        display: block;
        width: 200px;
        margin: 10px auto;
      }
    }
  }
  .attention {
    text-align: center;
    line-height: 2em;
    margin-bottom: 40px;
  }
}
